<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="StudentClientWinForms.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <applicationSettings>
        <StudentClientWinForms.Properties.Settings>
            <setting name="StudentClientWinForms_StudentReference_StudentService"
                serializeAs="String">
                <value>https://localhost:44300/StudentService.asmx</value>
            </setting>
        </StudentClientWinForms.Properties.Settings>
    </applicationSettings>
</configuration>